
*.info
*.dwlt
*.json
Ok Boomer/OkBoomer/Library/assetDatabase3
*.txt
*.dwlt
Ok Boomer/OkBoomer/Library/CurrentLayout-default.dwlt
Ok Boomer/OkBoomer/Temp/UnityTempFile-607e6d46fc2780847afdb0f6490a46cd
Ok Boomer/OkBoomer/Temp/UnityLockfile
*.backup
*.json
Ok Boomer/OkBoomer/Library/ScriptAssemblies/Assembly-CSharp.pdb
Ok Boomer/OkBoomer/Library/ScriptAssemblies/Assembly-CSharp.dll
Ok Boomer/OkBoomer/Library/assetDatabase3
*.txt
*.json
*.ide-wal
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
*.ide-shm
*.ide-wal
*.csproj
*.txt
*.dwlt
Ok Boomer/OkBoomer/Library/metadata/0f/0f38967f557080d428698d9ff4bdf0e8
*.dll
Ok Boomer/OkBoomer/Library/metadata/8e/8e5c065d20765d54bbf2adcc696744ab
Ok Boomer/OkBoomer/Library/metadata/1c/1c4b8c51cd151314a926dbe9cacda91d
Ok Boomer/OkBoomer/Library/metadata/0f/0f38967f557080d428698d9ff4bdf0e8
*.ide
*.ide-shm
*.ide-wal
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
*.ide-wal
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
*.dwlt
Ok Boomer/OkBoomer/Library/CurrentLayout-default.dwlt
Ok Boomer/OkBoomer/Library/LastSceneManagerSetup.txt
Ok Boomer/OkBoomer/Library/StateCache/Hierarchy/02d2bf-mainStage.json
Ok Boomer/OkBoomer/Temp/UnityTempFile-3ae022dafb4d41c488b5a9358f43db6c
Ok Boomer/OkBoomer/Temp/UnityTempFile-5339e2b06a34d184caca03d89098d9a9
Ok Boomer/OkBoomer/Temp/UnityTempFile-bc4a9fcfda93ea64c986acfa9b1f39df
Ok Boomer/OkBoomer/Temp/UnityTempFile-d542dd483f2b6fd47bca4f140e8310cc
*.bin
*.log
*.js
*.symbols
*.wasm
*.mdb
*.buildreport
*.bc
*.o
*.unity3d
*.resource
*.yaml
Ok Boomer/OkBoomer/Library/il2cpp_cache 2019.2.17f1 (8e603399ca02)
*.ide
*.config
*.csproj
*.unity
Ok Boomer/OkBoomer/Library/assetDatabase3
*.txt
*.dwlt
Ok Boomer/OkBoomer/Library/metadata/23/231c6f74f6e5ba642a047faf7c003a04
Ok Boomer/OkBoomer/Temp/UnityTempFile-079633aa735cd4d4aaa75d1b0f620c36
Ok Boomer/OkBoomer/Temp/UnityTempFile-db55245cce9c28943a548e36eebabfc4
*.json
*.json
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
Ok Boomer/OkBoomer/Library/assetDatabase3
*.txt
*.dwlt
*.asset
*.json
