
*.info
*.dwlt
*.json
Ok Boomer/OkBoomer/Library/assetDatabase3
*.txt
*.dwlt
Ok Boomer/OkBoomer/Library/CurrentLayout-default.dwlt
Ok Boomer/OkBoomer/Temp/UnityTempFile-607e6d46fc2780847afdb0f6490a46cd
Ok Boomer/OkBoomer/Temp/UnityLockfile
*.backup
*.json
Ok Boomer/OkBoomer/Library/ScriptAssemblies/Assembly-CSharp.pdb
Ok Boomer/OkBoomer/Library/ScriptAssemblies/Assembly-CSharp.dll
Ok Boomer/OkBoomer/Library/assetDatabase3
*.txt
*.json
*.ide-wal
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
*.ide-shm
*.ide-wal
*.csproj
*.txt
*.dwlt
Ok Boomer/OkBoomer/Library/metadata/0f/0f38967f557080d428698d9ff4bdf0e8
*.dll
Ok Boomer/OkBoomer/Library/metadata/8e/8e5c065d20765d54bbf2adcc696744ab
Ok Boomer/OkBoomer/Library/metadata/1c/1c4b8c51cd151314a926dbe9cacda91d
Ok Boomer/OkBoomer/Library/metadata/0f/0f38967f557080d428698d9ff4bdf0e8
*.ide
*.ide-shm
*.ide-wal
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
*.ide-wal
Ok Boomer/OkBoomer/.vs/OkBoomer/v16/.suo
*.ide
